In [2]:
import os
import warnings
import sys

import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet

import mlflow
import mlflow.sklearn

In [3]:
file_path = "./data/my_untappd.json"
data = pd.read_json(file_path)

In [4]:
data.head()

,beer_abv,beer_ibu,beer_name,beer_type,beer_url,brewery_city,brewery_country,brewery_name,brewery_state,brewery_url,...,flavor_profiles,purchase_venue,rating_score,serving_type,venue_city,venue_country,venue_lat,venue_lng,venue_name,venue_state
0,6.2,44,Long Hammer IPA,IPA - American,https://untappd.com/beer/6504,Seattle,United States,Redhook Brewery,WA,https://untappd.com/brewery/1051,...,,,3.5,,Singapore,Singapore,1.28963,103.844,Brewerkz Restaurant & Microbrewery,
1,5.0,40,Single Hop Series: Lemondrop,Pale Ale - American,https://untappd.com/beer/1075979,Singapore,Singapore,Brewerkz,,https://untappd.com/brewery/2454,...,,,3,,None,None,NaN,NaN,None,None
2,5.5,10,Black Raspberry Ale,Fruit Beer,https://untappd.com/beer/606637,Singapore,Singapore,Brewerkz,,https://untappd.com/brewery/2454,...,,,,,None,None,NaN,NaN,None,None
3,4.5,20,Golden Ale (1997 - 2018),Golden Ale,https://untappd.com/beer/21704,Singapore,Singapore,Brewerkz,,https://untappd.com/brewery/2454,...,,,,,None,None,NaN,NaN,None,None
4,8.0,60,Black Pig,IPA - Black / Cascadian Dark Ale,https://untappd.com/beer/180128,Singapore,Singapore,Brewerkz,,https://untappd.com/brewery/2454,...,,,3.75,,None,None,NaN,NaN,None,None

In [5]:
# Removing not related columns
data = data.drop(["comment"
, "created_at"
, "beer_url"
, "beer_name"
, "brewery_state"
, "brewery_url"
, "checkin_url"
, "purchase_venue"
, "venue_lat"
, "venue_lng"
, "venue_state"], axis=1)

In [6]:
data.head()

,beer_abv,beer_ibu,beer_type,brewery_city,brewery_country,brewery_name,flavor_profiles,rating_score,serving_type,venue_city,venue_country,venue_name
0,6.2,44,IPA - American,Seattle,United States,Redhook Brewery,,3.5,,Singapore,Singapore,Brewerkz Restaurant & Microbrewery
1,5.0,40,Pale Ale - American,Singapore,Singapore,Brewerkz,,3,,None,None,None
2,5.5,10,Fruit Beer,Singapore,Singapore,Brewerkz,,,,None,None,None
3,4.5,20,Golden Ale,Singapore,Singapore,Brewerkz,,,,None,None,None
4,8.0,60,IPA - Black / Cascadian Dark Ale,Singapore,Singapore,Brewerkz,,3.75,,None,None,None

In [7]:
data.dtypes

beer_abv           float64
beer_ibu             int64
beer_type           object
brewery_city        object
brewery_country     object
brewery_name        object
flavor_profiles     object
rating_score        object
serving_type        object
venue_city          object
venue_country       object
venue_name          object
dtype: object

In [8]:
data.rating_score = pd.to_numeric(data.rating_score)

In [9]:
data.dtypes

beer_abv           float64
beer_ibu             int64
beer_type           object
brewery_city        object
brewery_country     object
brewery_name        object
flavor_profiles     object
rating_score       float64
serving_type        object
venue_city          object
venue_country       object
venue_name          object
dtype: object

In [10]:
data.describe()

          beer_abv     beer_ibu  rating_score
count  1101.000000  1101.000000   1089.000000
mean      6.403315    29.863760      3.389348
std       1.988310    42.820211      0.504726
min       0.000000     0.000000      1.000000
25%       5.000000     0.000000      3.000000
50%       6.000000    21.000000      3.500000
75%       7.200000    52.000000      3.750000
max      22.000000  1000.000000      4.750000

In [40]:
data = data.dropna(subset=['rating_score'],how='all')

In [ ]:
data = data[['beer_abv','beer_ibu', 'rating_score']]